@import 'bases/fonts.scss';
@import 'bases/colors.scss';
@import 'layout/header.scss';
@import 'components/toggle-switch.scss';
@import 'components/button.scss';
@import 'components/tags.scss';
@import 'components/cards.scss';
@import 'theme/theme.scss';
@import 'layout/main.scss';

html {
  background: $light_bgc4;
  background: $light_bgc_linear;
  color: $dark_bgc;
}
