@import 'bases/fonts.scss';
@import 'bases/colors.scss';
@import 'layout/header.scss';
@import 'components/toggle-switch.scss';
@import 'components/button.scss';
@import 'components/tags.scss';
@import 'components/cards.scss';
@import 'theme/theme.scss';
@import 'layout/main.scss';

html {
  background-color: $light_bgc;
  color: $dark_bgc;
}

/*
.description {
      height: 55%;
      width: 95%;
      margin: auto;
      overflow: hidden;
      &-p {
        display: none;
        margin: auto;
        width: 70%;
        height: 60%;
        text-align: center;
        transition: 0.3s;
        animation: slide 10s linear infinite;
      }
    }
*/
