.cards {
  position: relative;
  width: 385px;
  height: 250px;
  margin: 50px 10px;
  border: solid $light_main 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #000;
  transition: 0.3s;
  color: #000;
  background-color: rgba(255, 255, 255, 0.488);
  backdrop-filter: blur(8px) grayscale(65%);
  overflow: hidden;
  cursor: pointer;
  .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2.5);
    animation: shine 20s linear forwards;
    transition: 0.3s;
  }
  .legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: solid 1px $light_main;
    background-color: rgba(255, 255, 255, 0.045);
    backdrop-filter: blur(8px) grayscale(65%);
    transition: 0.3s;
    .head-legend {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      transition: 1s;
      h2 {
        font-family: $fontXL;
        letter-spacing: 7px;
        word-spacing: 4px;
      }
      .arrow {
        display: none;
        width: 25px;
        height: 25px;
      }
    }
    .techList {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      text-align: center;
      width: 85%;
      height: 20%;
      margin: 15px 15px 20px 27px;
      .logo img {
        width: clamp(25px, 80%, 100px);
        height: clamp(25px, 80%, 100px);
      }
    }
    .description {
      display: none;
      height: 50%;
      width: 95%;
      margin: auto;
      font-size: 1.2rem;
      overflow: hidden;
      &_p {
        margin: auto;
        width: 70%;
        height: 60%;
        text-align: center;
        font-family: $fontM;
        line-height: 140%;
        letter-spacing: 2px;
        transition: 0.3s;
        animation: slide 12s linear infinite;
      }
    }
    .info-resp {
      display: none;
    }
  }
  &:hover {
    transform: scale(1.1);
  }
  &:focus .head-legend {
    flex-direction: row-reverse;
    .arrow {
      display: block;
    }
  }
  &:focus {
    backdrop-filter: blur(3px) grayscale(65%);
    transform: scale(1.1);
  }
  &:hover .cover {
    animation-play-state: paused;
  }
  &:hover .legend {
    border-top: transparent;
    border-radius: 5px;
    height: 100%;
  }
  &:focus .legend {
    border-top: none;
    height: 100%;
  }
  &:focus .links {
    display: block;
  }

  &:hover .description {
    display: block;
  }
  &:focus .description {
    display: none;
  }

  &:hover .legend > .languageList {
    margin: auto;
    padding: 15px;
  }
  &:focus .legend > .languageList {
    margin: auto;
    padding: 15px;
  }

  &:hover .legend > h2 {
    margin: auto;
    padding: 15px;
  }
  &:focus .legend > h2 {
    margin: auto;
    padding: 15px;
  }
  &::after {
    content: 'This project is not update';
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -85%);
    z-index: -2;
  }
}

@media screen and (max-width: 522px) {
  .cards {
    &:focus .description {
      display: block;
    }
    .legend {
      &:focus > .description {
        display: none;
      }
    }
    &:focus .info-resp {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      font-size: 0.7rem;
      font-style: italic;
      text-decoration: overline;
      transform: translate(-50%, -100%);
    }
  }
}

@keyframes slide {
  from {
    transform: translateY(150%);
  }

  to {
    transform: translateY(-315%);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-50px) translateY(20px) scale(1.3);
  }

  50% {
    transform: translateX(15px) translateY(-20px) scale(1.1);
  }

  100% {
    transform: translateX(0px) translateY(0px) scale(1);
  }
}
