.cards {
  position: relative;
  width: 385px;
  height: 250px;
  margin: 50px 10px;
  border: solid $light_main 1px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #000;
  transition: 0.3s;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: solid 1px;
    backdrop-filter: blur(6px) grayscale(70%);
    transition: 0.3s;
    z-index: 55;
    h2 {
      margin: 15px;
      width: 100%;
      height: 5%;
    }
    .techList {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 20%;
      margin: 15px;
    }
    .description {
      display: none;
      height: 55%;
      width: 95%;
      margin: auto;
      overflow: hidden;
      &_p {
        margin: auto;
        width: 70%;
        height: 60%;
        text-align: center;
        transition: 0.3s;
        animation: slide 10s linear infinite;
      }
    }
  }
  &:hover {
    transform: scale(1.07);
    border-top: transparent;
  }
  &:focus {
    transform: scale(1.07);
  }
  &:hover .legend {
    border-top: none;
    height: 100%;
  }
  &:focus .legend {
    border-top: none;
    height: 100%;
  }
  &:focus .links {
    display: block;
  }
  &:hover .description {
    display: block;
  }
  &:focus .description {
    display: none;
  }

  &:hover .legend > .languageList {
    margin: auto;
    padding: 15px;
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 22%,
      rgba(0, 0, 0, 0.6278886554621849) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  &:focus .legend > .languageList {
    margin: auto;
    padding: 15px;
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 22%,
      rgba(0, 0, 0, 0.6278886554621849) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &:hover .legend > h2 {
    margin: auto;
    padding: 15px;
  }
  &:focus .legend > h2 {
    margin: auto;
    padding: 15px;
  }
}

@keyframes slide {
  0% {
    transform: translateY(165%);
  }

  100% {
    transform: translateY(-75%);
  }
}
