.cards {
  position: relative;
  width: 385px;
  height: 250px;
  margin: 50px 10px;
  border: solid $light_main 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px $light_bgc3;
  transition: 0.3s;
  color: #000;
  overflow: hidden;
  cursor: pointer;
  .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2.5);
    animation: shine 20s linear forwards;
    transition: 0.3s;
  }
  .legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: solid 1px $light_bgc3;
    backdrop-filter: blur(8px) grayscale(65%);
    background-color: $light_bgc2;
    transition: 0.3s;
    z-index: 55;
    h2 {
      margin: 15px;
      width: 100%;
      height: 5%;
      letter-spacing: 7px;
      word-spacing: 4px;
    }
    .techList {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 85%;
      height: 20%;
      margin: 21px;
      .logo img {
        width: 30px;
        height: 30px;
      }
    }
    .description {
      display: none;
      height: 50%;
      width: 95%;
      margin: auto;
      font-size: 1.2rem;
      overflow: hidden;
      &_p {
        margin: auto;
        width: 70%;
        height: 60%;
        text-align: center;
        transition: 0.3s;
        animation: slide 10s linear infinite;
      }
    }
  }
  &:hover {
    transform: scale(1.1);
  }
  &:focus {
    transform: scale(1.1);
  }
  &:hover .cover {
    animation-play-state: paused;
  }
  &:hover .legend {
    border-top: transparent;
    border-radius: 5px;
    height: 100%;
  }
  &:focus .legend {
    border-top: none;
    height: 100%;
  }
  &:focus .links {
    display: block;
  }
  &:hover .description {
    display: block;
  }
  &:focus .description {
    display: none;
  }

  &:hover .legend > .languageList {
    margin: auto;
    padding: 15px;
  }
  &:focus .legend > .languageList {
    margin: auto;
    padding: 15px;
  }

  &:hover .legend > h2 {
    margin: auto;
    padding: 15px;
  }
  &:focus .legend > h2 {
    margin: auto;
    padding: 15px;
  }
}

@media screen and (max-width: 522px) {
  .cards {
    &:focus .description {
      display: block;
    }
    .legend {
      &:focus > .description {
        display: none;
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateY(150%);
  }

  to {
    transform: translateY(-150%);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-50px) translateY(20px) scale(1.3);
  }

  50% {
    transform: translateX(15px) translateY(-20px) scale(1.1);
  }

  100% {
    transform: translateX(0px) translateY(0px) scale(1);
  }
}
