header {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  font-family: $fontS;
  font-size: 1.2rem;
  color: $light_typo3;
  margin: 25px auto;
  .description {
    max-width: 40%;
    &:first-child {
      margin-inline-start: 25px;
      margin-top: 40px;
      h1 {
        display: block;
        font-size: clamp(3em, 2.5rem, 2em);
        font-family: $fontName;
        color: $light_typo2;
        text-shadow: 0 0 5px #fff;
      }
    }
    p {
      margin: 25px 0 45px;
    }
  }
  .picture {
    max-width: 40%;
    a {
      display: block;
      width: 205px;
      height: 205px;
      margin: auto;
      img {
        border: solid 2px $light_typo2;
        border-radius: 50%;
        box-shadow: 3px 3px 10px #000;
      }
    }
  }
}

@media screen and (max-width: 522px) {
  header {
    width: 100%;
    margin: 0;
    .description {
      max-width: 98%;
      text-align: center;
      margin-right: 18px;
      text-shadow: 1px 1px 1px rgb(42, 42, 42);
      &:first-child {
        margin-top: 85px;
        h1 {
          display: inline;
          line-height: 1.2em;
          text-shadow: 2px 2px 7px #000;
        }
      }
    }
    .picture {
      a {
        height: 0;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 40vw;
          border: none;
          object-fit: cover;
          object-position: 50% 25%;
          opacity: 0.2;
          border-radius: 0;
        }
      }
    }
  }
}
