main {
  position: fixed;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  padding: 0 20px 0 20px;
  margin: 20px auto 75px auto;
  background-color: rgba(0, 0, 0, 0.171);
  border-radius: 10px 10px 10px 10px;
  overflow-x: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  .nav {
    position: absolute;
    top: -32px;
    left: 0;
    .btn-nav {
      background-color: rgba(0, 0, 0, 0.171);
      padding: 16px;
      font-family: $fontM;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      text-decoration: underline 1px;
      transition: 0.3s;
      &:hover {
        text-decoration: underline 1px;
      }
    }
    .notNav {
      background-color: rgba(0, 0, 0, 0.279);
      font-family: $fontS;
      text-decoration: underline 0 transparent;
    }
  }
}

main::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@media screen and (max-width: 1150px) {
  main {
    position: inherit;
    justify-content: center;
  }
}
