main {
  position: fixed;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 15px 0 15px;
  margin: 20px auto;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  z-index: -2;
}

main::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@media screen and (max-width: 522px) {
  main {
    position: inherit;
  }
}
