$light_main: #1f2100;
$light_main2: #297ea6;

$light_bgc: #ffffff;
$light_typo1: rgba(63, 94, 251, 1);
$light_typo2: rgb(246, 72, 8);
$light_typo3: rgb(253, 243, 45);
$light_blur1: #1f210018;
$light_bgc_linear: linear-gradient(
  180deg,
  $light_bgc 0%,
  $light_typo2 100% $light_main2 50%
);

$dark_bgc: #0b132b;

/*
#68CEF7
*/
