@font-face {
  font-family: JosefinXS;
  src: url('/src/assets/fonts/Josefin_Sans/static/JosefinSans-ExtraLight.ttf');
}

@font-face {
  font-family: JosefinS;
  src: url('/src/assets/fonts/Josefin_Sans/static/JosefinSans-Light.ttf');
}

@font-face {
  font-family: JosefinM;
  src: url('/src/assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf');
}

@font-face {
  font-family: JosefinXL;
  src: url('/src/assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf');
}

// IS WORKING LOCALY
// =================

// in "SRC" FOLDER
/*
@font-face {
  font-family: RighteousReg;
  src: url('/src/assets/fonts/Righteous/Righteous-Regular.ttf');
}
*/
// in "PUBLIC" FOLDER

@font-face {
  font-family: RighteousReg;
  src: url('/public/fonts/Righteous/Righteous-Regular.ttf');
}

/*
@font-face {
  font-family: RighteousReg;
  src: url('./../../../../public/fonts/Righteous/Righteous-Regular.ttf');
}
*/
// NO ONE WORKING ONLINE

$fontXS: JosefinXS, 'sans-serif';
$fontS: JosefinS;
$fontM: JosefinM;
$fontXL: JosefinXL;

$fontName: RighteousReg, 'Arial';
