@font-face {
  font-family: JosefinXS;
  src: url("portfolio-v3.2/public/fonts/Josefin_Sans/static/JosefinSans-ExtraLight.ttf");
}
@font-face {
  font-family: JosefinS;
  src: url("portfolio-v3.2/public/fonts/fonts/Josefin_Sans/static/JosefinSans-Light.ttf");
}
@font-face {
  font-family: JosefinM;
  src: url("portfolio-v3.2/public/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf");
}
@font-face {
  font-family: JosefinXL;
  src: url("portfolio-v3.2/public/fonts/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf");
}
/*
@font-face {
  font-family: RighteousReg;
  src: url('/src/assets/fonts/Righteous/Righteous-Regular.ttf');
}
*/
@font-face {
  font-family: RighteousReg;
  src: url("portfolio-v3.2/public/fonts/Righteous/Righteous-Regular.ttf");
}
/*
@font-face {
  font-family: RighteousReg;
  src: url('./../../../../public/fonts/Righteous/Righteous-Regular.ttf');
}
*/
/*
#68CEF7
*/
header {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  font-family: JosefinS;
  font-size: 1.2rem;
  color: rgb(253, 243, 45);
  margin: 25px auto;
}
header .description {
  text-shadow: 2px 2px 1px #000;
  max-width: 40%;
}
header .description:first-child {
  margin-inline-start: 25px;
  margin-top: 40px;
}
header .description:first-child h1 {
  display: block;
  font-size: clamp(3em, 2.5rem, 2em);
  font-family: RighteousReg, "Arial";
  color: rgb(246, 72, 8);
  text-shadow: 0 0 5px #fff;
}
header .description p {
  margin: 25px 0 45px;
}
header .picture {
  max-width: 40%;
}
header .picture a {
  display: block;
  width: 205px;
  height: 205px;
  margin: auto;
}
header .picture a img {
  border: solid 2px rgb(246, 72, 8);
  border-radius: 50%;
  box-shadow: 3px 3px 10px #000;
}

@media screen and (max-width: 522px) {
  header {
    width: 100%;
    margin: 0;
  }
  header .description {
    max-width: 98%;
    text-align: center;
    margin-right: 18px;
    text-shadow: 1px 1px 1px rgb(42, 42, 42);
  }
  header .description:first-child {
    margin-top: 85px;
  }
  header .description:first-child h1 {
    display: inline;
    line-height: 1.2em;
  }
  header .picture a {
    height: 0;
  }
  header .picture a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40vw;
    border: none;
    object-fit: cover;
    object-position: 50% 25%;
    opacity: 0.2;
    border-radius: 0;
  }
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.285);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 180px;
  height: 180px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.circles li:nth-child(11) {
  left: 12%;
  width: 130px;
  height: 130px;
  animation-delay: 5s;
  animation-duration: 11s;
}

.circles li:nth-child(12) {
  left: 20%;
  width: 22px;
  height: 22px;
  animation-delay: 5s;
  animation-duration: 30s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1200px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.switch {
  --inactive: #cfd8dc;
  --active: #00e676;
  --size: 1.99rem;
  position: absolute;
  right: 2%;
  top: 2%;
  appearance: none;
  width: calc(var(--size) * 2);
  height: var(--size);
  display: inline-block;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
  border: solid 2px;
  background-color: var(--inactive);
  background-image: radial-gradient(circle calc(var(--size) / 2.1), #fff 100%, rgba(0, 0, 0, 0) 0), radial-gradient(circle calc(var(--size) / 1.5), rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-position: calc(var(--size) / -1.75) 0;
  transition: background 0.2s ease-out;
  box-shadow: 3px 4px 10px #000;
  z-index: -2;
}

.switch:checked {
  background-color: var(--active);
  background-position: calc(var(--size) / 1.75) 0;
}

.contact {
  background-color: transparent;
  padding: 7px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000;
  font-family: JosefinXS, "sans-serif";
  font-size: 1rem;
  transition: 0.3s;
  font-family: JosefinM;
  cursor: pointer;
}
.contact:hover {
  background: linear-gradient(to left, rgb(246, 72, 8) 55%, transparent 50%) right;
  background-size: 200% 100%;
  color: rgb(253, 243, 45);
}

.navigate-btns {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 25%;
  margin: auto;
  font-size: clamp(15px, 2.2vh, 30px);
  font-weight: 600;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  cursor: initial;
}
.navigate-btns .repo-btn {
  display: block;
  padding: 7px 35px;
  border-radius: 10px;
  background-color: #1f2100;
  box-shadow: 2px 2px 10px #297ea6;
  animation: popBtn 0.1s;
  transition: cubic-bezier(0, 0.7, 0.72, 1.57) 0.3s;
}
.navigate-btns .repo-btn:hover {
  transform: scale(1.1);
}
.navigate-btns .website-btn {
  display: block;
  padding: 5px 25px;
  border: solid #1f2100;
  border-radius: 10px;
  color: rgb(246, 72, 8);
  background-color: #fff;
  box-shadow: 2px 2px 10px #297ea6;
  animation: popBtn 0.2s;
  transition: cubic-bezier(0, 0.7, 0.72, 1.57) 0.3s;
}
.navigate-btns .website-btn:hover {
  transform: scale(1.1);
}

.submit {
  background-color: transparent;
  padding: 7px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000;
  font-family: JosefinXS, "sans-serif";
  font-size: 1rem;
  transition: 0.3s;
  font-family: JosefinM;
  cursor: pointer;
}
.submit:hover {
  background: linear-gradient(to left, rgb(246, 72, 8) 55%, transparent 50%) right;
  background-size: 200% 100%;
  color: rgb(253, 243, 45);
}

.js-is-hidden {
  display: none;
}

@keyframes popBtn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 1200px) {
  .contact {
    position: absolute;
    right: 15%;
    bottom: 5%;
  }
}
@media screen and (max-width: 522px) {
  .contact {
    position: inherit;
    margin-left: 0;
  }
  .navigate-btns {
    display: flex;
    flex-direction: column;
    height: 120px;
  }
  .navigate-btns .website-btn {
    background-color: #fff;
  }
}
.tags {
  display: flex;
}
.tags .tag {
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  font-family: JosefinM;
  color: #1f2100;
  border: solid 1px #297ea6;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000;
}

@media screen and (max-width: 522px) {
  .tags {
    display: none;
  }
}
.cards {
  position: relative;
  width: 385px;
  height: 250px;
  margin: 50px 10px;
  border: solid #1f2100 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #000;
  transition: 0.3s;
  color: #000;
  background-color: rgba(255, 255, 255, 0.488);
  backdrop-filter: blur(8px) grayscale(65%);
  overflow: hidden;
  cursor: pointer;
}
.cards .cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(2.5);
  animation: shine 20s linear forwards;
  transition: 0.3s;
}
.cards .legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 33%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: solid 1px #1f2100;
  background-color: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur(8px) grayscale(65%);
  transition: 0.3s;
}
.cards .legend .head-legend {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: 1s;
}
.cards .legend .head-legend h2 {
  font-family: JosefinXL;
  letter-spacing: 7px;
  word-spacing: 4px;
}
.cards .legend .head-legend .arrow {
  display: none;
  width: 25px;
  height: 25px;
}
.cards .legend .techList {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 85%;
  height: 20%;
  margin: 15px 15px 20px 27px;
}
.cards .legend .techList .logo img {
  width: clamp(25px, 80%, 100px);
  height: clamp(25px, 80%, 100px);
}
.cards .legend .description {
  display: none;
  height: 50%;
  width: 95%;
  margin: auto;
  font-size: 1.2rem;
  overflow: hidden;
}
.cards .legend .description_p {
  margin: auto;
  width: 70%;
  height: 60%;
  text-align: center;
  font-family: JosefinM;
  line-height: 140%;
  letter-spacing: 2px;
  transition: 0.3s;
  animation: slide 12s linear infinite;
}
.cards .legend .info-resp {
  display: none;
}
.cards:hover {
  transform: scale(1.1);
}
.cards:focus .head-legend {
  flex-direction: row-reverse;
}
.cards:focus .head-legend .arrow {
  display: block;
}
.cards:focus {
  backdrop-filter: blur(3px) grayscale(65%);
  transform: scale(1.1);
}
.cards:hover .cover {
  animation-play-state: paused;
}
.cards:hover .legend {
  border-top: transparent;
  border-radius: 5px;
  height: 100%;
}
.cards:focus .legend {
  border-top: none;
  height: 100%;
}
.cards:focus .links {
  display: block;
}
.cards:hover .description {
  display: block;
}
.cards:focus .description {
  display: none;
}
.cards:hover .legend > .languageList {
  margin: auto;
  padding: 15px;
}
.cards:focus .legend > .languageList {
  margin: auto;
  padding: 15px;
}
.cards:hover .legend > h2 {
  margin: auto;
  padding: 15px;
}
.cards:focus .legend > h2 {
  margin: auto;
  padding: 15px;
}
.cards::after {
  content: "This project is not update";
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -85%);
  z-index: -2;
}

@media screen and (max-width: 522px) {
  .cards:focus .description {
    display: block;
  }
  .cards .legend:focus > .description {
    display: none;
  }
  .cards:focus .info-resp {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    font-size: 0.7rem;
    font-style: italic;
    text-decoration: overline;
    transform: translate(-50%, -100%);
  }
}
@keyframes slide {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(-315%);
  }
}
@keyframes shine {
  0% {
    transform: translateX(-50px) translateY(20px) scale(1.3);
  }
  50% {
    transform: translateX(15px) translateY(-20px) scale(1.1);
  }
  100% {
    transform: translateX(0px) translateY(0px) scale(1);
  }
}
fieldset {
  border: solid 1px rgba(31, 33, 0, 0.0941176471);
  border-radius: 15px;
  width: 60%;
  margin: 25px auto;
  font-family: JosefinM;
}
fieldset legend {
  margin-left: 15px;
  padding: 5px;
  color: rgb(246, 72, 8);
}
fieldset form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin: auto;
}
fieldset form label {
  font-size: 1.4em;
}
fieldset form label:target {
  font-weight: bolder;
}
fieldset form .input, fieldset form textarea {
  display: block;
  width: 100%;
  margin: 12px auto;
  padding: 7px;
  background-color: transparent;
  border: solid 1px;
  font-family: RighteousReg, "Arial";
  font-size: 1em;
  border-radius: 5px;
  outline: none;
}
fieldset form .input:focus, fieldset form textarea:focus {
  background-color: rgba(0, 0, 0, 0.114);
  box-shadow: 3px 3px 10px #000;
}
.form-data[data-error]::after {
  content: attr(data-error);
  font-size: 0.6em;
  color: rgb(246, 72, 8);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.form-data[data-error-visible=true]::after {
  opacity: 1;
}

.form-data[data-error-visible=true] .input, .form-data[data-error-visible=true] fieldset form textarea, fieldset form .form-data[data-error-visible=true] textarea {
  border: 1px solid rgb(246, 72, 8);
}

.input[data-error]::after, fieldset form textarea[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: red;
}

@media screen and (max-width: 780px) {
  fieldset {
    width: 95%;
  }
  fieldset form {
    width: 85%;
    padding-right: 15px;
  }
}
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background: rgb(34, 193, 195);
  background: linear-gradient(180deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
  transition: 0.5s;
  z-index: 999;
}
.loading .loader {
  height: 0.5em;
  width: 3.5em;
  margin: 150px auto;
  position: relative;
  font-size: 20px;
}
.loading .loader .dot {
  background-color: rgb(253, 243, 45);
}
.loading .loader__dot {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: #333;
  animation-name: loader-wave;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}
.loading .loader__dot--1 {
  left: 1em;
  animation-delay: 200ms;
}
.loading .loader__dot--2 {
  left: 2em;
  animation-delay: 400ms;
}
.loading .loader__dot--3 {
  left: 3em;
  animation-delay: 600ms;
}
@keyframes loader-wave {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.5em);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.light-theme {
  --color-primary: $light_main;
  --color-secondary: $light_bgc;
}

.dark-theme {
  --color-primary: $dark_main;
  --color-secondary: $dark_bgc;
}

.dark-theme {
  background-color: #0b132b;
  color: #ffffff;
  animation: changeBg 12s infinite;
}

@keyframes changeBg {
  0% {
    background-image: url("./../../assets/low-poly-grid-haikei_0.svg");
  }
  10% {
    background-image: url("./../../assets/low-poly-grid-haikei_1.svg");
  }
  10% {
    background-image: url("./../../assets/low-poly-grid-haikei_2.svg");
  }
  30% {
    background-image: url("./../../assets/low-poly-grid-haikei_3.svg");
  }
  40% {
    background-image: url("./../../assets/low-poly-grid-haikei_4.svg");
  }
  50% {
    background-image: url("./../../assets/low-poly-grid-haikei_5.svg");
  }
  60% {
    background-image: url("./../../assets/low-poly-grid-haikei_6.svg");
  }
  70% {
    background-image: url("./../../assets/low-poly-grid-haikei_7.svg");
  }
  80% {
    background-image: url("./../../assets/low-poly-grid-haikei_8.svg");
  }
  90% {
    background-image: url("./../../assets/low-poly-grid-haikei_9.svg");
  }
  100% {
    background-image: url("./../../assets/low-poly-grid-haikei_10.svg");
  }
}
main {
  position: fixed;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 15px 0 15px;
  margin: 20px auto 75px auto;
  background-color: rgba(0, 0, 0, 0.171);
  border-radius: 10px 10px 10px 10px;
  overflow-x: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
main .nav {
  position: absolute;
  top: -32px;
  left: 0;
}
main .nav .btn-nav {
  background-color: rgba(0, 0, 0, 0.171);
  padding: 16px;
  font-family: JosefinM;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-decoration: underline 1px;
  transition: 0.3s;
}
main .nav .btn-nav:hover {
  text-decoration: underline 1px;
}
main .nav .notNav {
  background-color: rgba(0, 0, 0, 0.279);
  font-family: JosefinS;
  text-decoration: underline 0 transparent;
}

main::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@media screen and (max-width: 1100px) {
  main {
    position: inherit;
    justify-content: center;
  }
}
html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: JosefinXS, "sans-serif";
  background: rgb(34, 193, 195);
  background: linear-gradient(180deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
}

@media screen and (max-width: 1100px) {
  html {
    position: inherit;
  }
}

/*# sourceMappingURL=style.css.map */
