/*
#cc6d3d
#b74803
*/
header {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  margin: 25px auto;
}
header .description {
  max-width: 50%;
}
header .description:first-child {
  margin-inline-start: 25px;
  margin-top: 40px;
}
header .description:first-child h1 {
  display: block;
  font-size: clamp(3em, 2.5rem, 2em);
  color: #022e51;
}
header .description p {
  margin: 25px 0 45px;
}
header .picture a {
  display: block;
  width: 205px;
  height: 205px;
  margin: auto;
}
header .picture a img {
  border: solid 2px #022e51;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #000;
}

@media screen and (max-width: 522px) {
  header {
    width: 100%;
    margin: 0;
  }
  header .description {
    max-width: 98%;
    text-align: center;
    margin-right: 18px;
  }
  header .description:first-child {
    margin-top: 95px;
  }
  header .description:first-child h1 {
    display: inline;
  }
  header .picture a {
    height: 0;
  }
  header .picture a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40vw;
    border: none;
    object-fit: cover;
    object-position: 50% 25%;
    opacity: 0.2;
    border-radius: 0;
  }
}
.switch {
  --inactive: #cfd8dc;
  --active: #00e676;
  --size: 1.99rem;
  position: absolute;
  right: 2%;
  top: 2%;
  appearance: none;
  width: calc(var(--size) * 2);
  height: var(--size);
  display: inline-block;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
  border: solid 2px;
  background-color: var(--inactive);
  background-image: radial-gradient(circle calc(var(--size) / 2.1), #fff 100%, rgba(0, 0, 0, 0) 0), radial-gradient(circle calc(var(--size) / 1.5), rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-position: calc(var(--size) / -1.75) 0;
  transition: background 0.2s ease-out;
  box-shadow: 3px 4px 10px #000;
  z-index: 999;
}

.switch:checked {
  background-color: var(--active);
  background-position: calc(var(--size) / 1.75) 0;
}

.contact {
  background-color: #022e51;
  padding: 7px 35px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(192, 108, 132);
  margin-left: 50px;
  transition: 0.5s;
}
.contact:hover {
  background: linear-gradient(to left, rgb(192, 108, 132) 55%, #022e51 50%) right;
  background-size: 200% 100%;
  box-shadow: 2px 2px 10px #022e51;
}

.navigate-btns {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  z-index: 999;
  cursor: initial;
}
.navigate-btns .repo-btn {
  display: block;
  padding: 7px 35px;
  border-radius: 10px;
  background-color: #022e51;
  box-shadow: 2px 2px 10px rgb(108, 91, 123);
  animation: popBtn 0.1s;
  transition: cubic-bezier(0, 0.7, 0.72, 1.57);
}
.navigate-btns .website-btn {
  display: block;
  padding: 5px 25px;
  border: solid #022e51;
  border-radius: 10px;
  color: rgb(192, 108, 132);
  box-shadow: 2px 2px 10px rgb(108, 91, 123);
  animation: popBtn 0.1s;
  transition: cubic-bezier(0, 0.7, 0.72, 1.57);
}

.js-is-hidden {
  display: none;
}

@keyframes popBtn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 522px) {
  .contact {
    margin-left: 0;
  }
  .navigate-btns {
    display: flex;
    flex-direction: column;
    height: 120px;
  }
  .navigate-btns .website-btn {
    background-color: #fff;
  }
}
.tags {
  display: flex;
}
.tags li {
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  border: solid 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000;
}

@media screen and (max-width: 522px) {
  .tags {
    display: none;
  }
}
.cards {
  position: relative;
  width: 385px;
  height: 250px;
  margin: 50px 10px;
  border: solid #022e51 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px rgb(108, 91, 123);
  transition: 0.3s;
  color: #000;
  overflow: hidden;
  cursor: pointer;
}
.cards .cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(2.5);
  animation: shine 20s linear forwards;
  transition: 0.3s;
}
.cards .legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 33%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: solid 1px rgb(108, 91, 123);
  backdrop-filter: blur(8px) grayscale(65%);
  background-color: rgba(176, 191, 207, 0.1333333333);
  transition: 0.3s;
  z-index: 55;
}
.cards .legend h2 {
  margin: 15px;
  width: 100%;
  height: 5%;
  letter-spacing: 7px;
  word-spacing: 4px;
}
.cards .legend .techList {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 20%;
  margin: 21px;
}
.cards .legend .techList .logo img {
  width: 30px;
  height: 30px;
}
.cards .legend .description {
  display: none;
  height: 50%;
  width: 95%;
  margin: auto;
  font-size: 1.2rem;
  overflow: hidden;
}
.cards .legend .description_p {
  margin: auto;
  width: 70%;
  height: 60%;
  text-align: center;
  transition: 0.3s;
  animation: slide 10s linear infinite;
}
.cards .legend .info-resp {
  display: none;
}
.cards:hover {
  transform: scale(1.1);
}
.cards:focus {
  transform: scale(1.1);
}
.cards:hover .cover {
  animation-play-state: paused;
}
.cards:hover .legend {
  border-top: transparent;
  border-radius: 5px;
  height: 100%;
}
.cards:focus .legend {
  border-top: none;
  height: 100%;
}
.cards:focus .links {
  display: block;
}
.cards:hover .description {
  display: block;
}
.cards:focus .description {
  display: none;
}
.cards:hover .legend > .languageList {
  margin: auto;
  padding: 15px;
}
.cards:focus .legend > .languageList {
  margin: auto;
  padding: 15px;
}
.cards:hover .legend > h2 {
  margin: auto;
  padding: 15px;
}
.cards:focus .legend > h2 {
  margin: auto;
  padding: 15px;
}

@media screen and (max-width: 522px) {
  .cards:focus .description {
    display: block;
  }
  .cards .legend:focus > .description {
    display: none;
  }
  .cards:focus .info-resp {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    font-size: 0.7rem;
    font-style: italic;
    text-decoration: overline;
    transform: translate(-50%, -100%);
  }
}
@keyframes slide {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(-150%);
  }
}
@keyframes shine {
  0% {
    transform: translateX(-50px) translateY(20px) scale(1.3);
  }
  50% {
    transform: translateX(15px) translateY(-20px) scale(1.1);
  }
  100% {
    transform: translateX(0px) translateY(0px) scale(1);
  }
}
.light-theme {
  --color-primary: $light_main;
  --color-secondary: $light_bgc;
}

.dark-theme {
  --color-primary: $dark_main;
  --color-secondary: $dark_bgc;
}

.dark-theme {
  background-color: #0b132b;
  color: rgb(53, 92, 125);
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

html {
  background: rgb(192, 108, 132);
  background: linear-gradient(180deg, rgb(53, 92, 125) 0%, rgb(108, 91, 123) 50%, rgb(192, 108, 132) 100%);
  color: #0b132b;
}

/*# sourceMappingURL=style.css.map */
